body, ul {
    margin: 0;
    padding: 0;
}

#projects {
    padding: 20px;
}

.project-tile {
    background-color: #3255a8;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#Home {
    position: relative;
}

.tit {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vw;
    text-align: center;
    color: black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.Homepic {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 0;
    opacity: 0.6;
}

.pp{
    max-width: 400px;
    max-height: 400px;
}

.logo{
    margin-top: -30px;
    width: 100px;
    max-height: 80px;
}
.Main{
    background-color: #585858;
}
.cont{
    padding-top: -10px;
    padding-left: 230px;
}

#navigation{
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    transition: 0.5s;
}
#navigation a{
    margin-top: 20px;
    color: wheat;
    padding: 12px 110px;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
#navigation a:hover{
    color: navy;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    
}

#navbar {
    width: 130px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    padding: 50px 0px;
    display: none;
}
.current{
    background-color: #285FCC;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    display: block;

}

.nav{
    padding: 20px 0px;
    text-align: center;
    border: 2px solid black;
    max-height: 20px;
}

#navbar a {
    text-decoration: none;
    color: b;
    font-weight: bold;
}
#profile-link {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: black;
    padding: 10px;
    margin: 20px auto;
    width: 150px;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #navbar2 ul {
        flex-direction: column;
        align-items: center;
    }
}