/**/
html{
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh; 
    overflow: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
*{
    font-family: 'Courier New', Courier, monospace;
}
.Main{
    background-color: beige;
    margin-left: 10%;
}
body, ul {
    margin: 0;
    padding: 0;
}

#projects {
    padding: 20px;
}

.project-tile {
    background-color: #3255a8;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#Home {
    position: relative;
}
#Entrance{
}

.Homepic {
    width: 100%;
}
.door{
    position: absolute;
    margin-left: 48.5%;
    margin-top: 10%;
    height: 59%;
}
.door:hover{
    height: 70%;
    margin-top: 7%;
    margin-left: 47.5%;
}
.ent{
    width: 100%;
    margin-top: -1%;
}

.pp{
    max-width: 400px;
    max-height: 400px;
}

.logo{
    margin-top: -30px;
    width: 100px;
    max-height: 80px;
}
.cont{
    padding-top: -10px;
    padding-left: 230px;
}


#navbar {
    width: 10%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 2s linear 1s;
    overflow-x: hidden;
    padding: 50px 0px;
    display: none;
}

.pp{
    max-width: 400px;
    max-height: 400px;
}

.current{
    background-color: #285FCC;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    display: block;

}

.nav{
    padding: 20px 0px;
    text-align: center;
    border: 2px solid black;
    max-height: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#navbar a:hover{
    color: navy;
    font-weight: bold;
}
#profile-link {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: black;
    padding: 10px;
    margin: 20px auto;
    width: 150px;
    text-decoration: none;
    border-radius: 5px;
}
.Me{
    height: 10%;
    width: 25%;
    margin-left: -10%;
    margin-top: -10%;
}
.intro{
    display: inline-block;
}
.Hello{
    width: 700px;
    height: 500px;
    padding-left: 30%;
    margin-top: -15%;
}

.AboutEnt{
    position: absolute;
    margin-left: 13.7%;
    margin-top: 12.1%;
    width: 17.35%;
}
.AboutEnt:hover{
    margin-left: 12.7%;
    margin-top: 11.1;
    width: 20%;
}
.endoor{
    position: absolute;
    margin-left: 42%;
    margin-top: 14.6%;
    width: 9.4%;
}
.endoor:hover{
    margin-left: 41%;
    margin-top: 13.6%;
    width: 12%;
}
.Stairs{
    position: absolute;
    margin-left: 53.6%;
    margin-top: 0.7%;
    width: 26.3%;
}
.Stairs:hover{
    margin-left: 52.6%;
    margin-top: -0.7%;
    width: 30%;
}
.Wardrobe{
    position: absolute;
    margin-left: 85%;
    margin-top: 8%;
    height: 77%;
}
.Wardrobe:hover{
    margin-left: 85%;
    margin-top: 7%;
    height: 90%;
}

.aboutBG{
    width: 120%;
    margin-left: -20.5%;
    margin-top: -60%;
}
.skilltxt{
    width: 700px;
    height: 500px;
    padding-left: 400px;
    margin-top: -200px;
} 
.skillLogos {
    margin-top: -15%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: absolute;
    
}
.skillLogos button {
    border: none;
    background: none;
    padding: 3%;
    cursor: pointer; 
}

.skillLogos li {
    text-align: center;
}

.skillLogos li img {
    height: 20%;
    width: 20%;
}


.popup{
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #1e1e1e; 
    padding: 20px; 
    border: 2px solid black;
    z-index: 999; 
    height: 60%;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
pre code {
    background-color: transparent !important;
    font-size: 200%;
    white-space: pre-line;
    overflow: hidden;
}

.outer{
    border: black;
    background-color: grey;
}

.sub{
    height: 40px;
    width: 20%;
    border: black;
    background-color: grey;
    rotate: 90deg;
    margin-left: -25%;
    margin-top: 10%;
    position: relative;
}
.subt{
    font-size: 30px;
    rotate: -90deg;
    margin-top: -20%;
    rotate: 180deg;
    text-align: center;
}
.ski{
    margin-top: 20%;
}
.card{
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid black;
    border-radius: 5px 5px 0 0;
}
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.inside{
    margin: 20px; 
    margin-top: 2%;
    border-radius: 10px 10px 0 0;
    background-color: beige;
}
.schoolpic{
    padding-top: 20px;
    height: 60%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
.SchoolName, .projectText{
    text-align: center;
    font-style: oblique;
    
}
.projectText{
    margin-top: -0.5%;
    margin-bottom: -0.5%;
}
.ABC{
    margin-left: 400px;
    margin-top: -400px;
}
.UC{
    margin-left: 800px;
    margin-top: -400px;
}
.first{
    margin-top: -10%;
}
.second{
    margin-left: 30%;
    margin-top: -33%;
}
.third{
    margin-left: 60%;
    margin-top: -33%;

}
.fourth{
    margin-top: 4%;
}
.fifth{
    margin-left: 30%;
    margin-top: -33%;
}
#projectbtn{
    margin-left: 30%;
    text-align: center;
    background-color: #3498db;
    color: black;
    padding: 10px;
    width: 150px;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 5px;
}
.project{
    border-radius: 25px;
    width: 100%;
}

@media (max-width: 768px) {
    #navbar2 ul {
        flex-direction: column;
        align-items: center;
    }
}

